<section class="contact my-3" id="contact">
  <div class="container">
      <h2 class="contactHeading text-uppercase text-center mb-0">Contact Me</h2>
      <div class="content">
          <div class="line"></div>
          <div class="icon"><i class="fas fa-star"></i></div>
          <div class="line"></div>
      </div>

      <div class="row">
          <div class="col-lg-8 mx-auto">
              <form id="contactForm" name="sentMessage">
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <input class="form-control" id="name" type="text" placeholder="Name" required="required"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <input class="form-control" id="email" type="email" placeholder="Email Address" required="required"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required"></textarea>
                      </div>
                  </div>
                  <div class="buttom"><button class="btn" type="submit">Send</button></div>
              </form>

          </div>
      </div>
  </div>
  </section>
