<footer class="footer text-white text-center">
  <div class="container w-75">
      <div class="row">
          <div class="col-md-4">
              <h5 class="text-uppercase fw-bold">location</h5>
              <p>2215 John Daniel Drive</p>
              <p> Clark, MO 65243</p>
          </div>
          <div class="col-md-4">
              <h5 class="text-uppercase fw-bold">around the web</h5>
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-solid fa-basketball"></i>
          </div>
          <div class="col-md-4">
              <h5 class="text-uppercase fw-bold">about freelancer</h5>
              <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
          </div>

      </div>
  </div>
  <div class="copywrite py-4">
      <p>Copyright © Your Website 2021</p>
  </div>
</footer>
