<header class="header text-white text-center bg-primary">
  <div class="container d-flex align-items-center flex-column">
    <div>
      <img src="assets/images/avataaars.svg" alt="Logo" class="headerImage">
      <h1 class="headerheading mb-0 my-5 text-uppercase">START ANGULAR</h1>

      <div class="content">
        <div class="line"></div>
        <div class="icon"><i class="fas fa-star"></i></div>
        <div class="line"></div>
    </div>
      <p class="title mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>
</header>
